.van-nav-bar {
  background-color: #3196fa;
}
.van-nav-bar .van-nav-bar__title {
  color: #fff;
}
.loginIndex .van-icon {
  margin-right: 10px;
  font-size: 14px;
}
.van-tabs__line {
  background-color: #3196fa;
}
