.van-nav-bar {
  background-color: #3196fa;
}
.van-nav-bar .van-nav-bar__title {
  color: #fff;
}
.loginIndex .van-icon {
  margin-right: 10px;
  font-size: 14px;
}
.van-tabs__line {
  background-color: #3196fa;
}
.homeIndex .van-tabs .van-tabs__wrap--scrollable {
  position: fixed;
  top: 46px;
  left: 0;
  right: 16px;
  z-index: 2;
}
.homeIndex .van-tabs .van-tabs__content {
  margin-top: 90px;
}
